
<div class="header-menu">

  <div class="header-menu-wrap content-width">
    <div class="burger">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
     {{ search }}
    <nav class="header-menu-navigation header-disable">
      
      <a href="{{ home }}" class="header-menu-link">{{ text_home }}</a>
      <a href="{{ our_services }}" class="header-menu-link" target="_blank">{{ text_our_services }}</a>
      <a href="{{ contact }}" class="header-menu-link">{{ text_contact }}</a>
      <a href="{{ about_company }}" class="header-menu-link">{{ text_about_company }}</a>
      <a href="{{ hrefcart }}" class="header-menu-link">{{ text_cart }}</a>
    </nav>
     <span class="empty777"></span>
    {{ cart }}
  </div>
</div>