<nav class="navbar sticky-top navbar-expand-md">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        
            {{ search }}
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ home }}">{{ text_home }} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ our_services }}" target="_blank">{{ text_our_services }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contact }}">{{ text_contact }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ about_company }}">{{ text_about_company }}</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="{{ hrefcart }}">{{ text_cart }} </a>
                
            </li>#}
            
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item avatar">
                <a class="nav-linkw" href="{{ hrefcart }}">
                    {{ cart }}
                </a>
            </li>
        </ul>
        
    </div>
</nav>