
{#<div class="header-menu">

  <div class="header-menu-wrap content-width">
    <div class="burger">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </div>
     {{ search }}
    <nav class="header-menu-navigation header-disable">
      
      <a href="{{ home }}" class="header-menu-link">{{ text_home }}</a>
      <a href="{{ our_services }}" class="header-menu-link" target="_blank">{{ text_our_services }}</a>
      <a href="{{ contact }}" class="header-menu-link">{{ text_contact }}</a>
      <a href="{{ about_company }}" class="header-menu-link">{{ text_about_company }}</a>
      <a href="{{ hrefcart }}" class="header-menu-link">{{ text_cart }}</a>
    </nav>
     <span class="empty777"></span>
    {{ cart }}
  </div>
</div> #}

<nav class="navbar sticky-top navbar-expand-md">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline">
            {{ search }}
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ home }}">{{ text_home }} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ our_services }}" target="_blank">{{ text_our_services }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ contact }}">{{ text_contact }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ about_company }}">{{ text_about_company }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ hrefcart }}">{{ text_cart }} </a>
                
            </li>
            <li class="nav-item">
                {{ cart }}

            </li>
        </ul>
        
        
    </div>
</nav>