<h3 class="sidebar-title">{{ heading_title }}</h3>
<div class="sidebar-block">
  {% for category in categories %}
    {% if category.category_id == category_id %} 
      <a href="{{ category.href }}" class="sidebar-link active">{{ category.name }}</a> 
      {% if category.children %}
        {% for child in category.children %}
          {% if child.category_id == child_id %}
            <a href="{{ child.href }}" class="sidebar-link focus-sidebar-link active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
          {% else %} 
            <a href="{{ child.href }}" class="sidebar-link focus-sidebar-link">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %} <a href="{{ category.href }}" class="sidebar-link">{{ category.name }}</a>
    {% endif %}
  {% endfor %}
</div>