{{ header }}
<section class="container content">
	<div class="row content-block content-width">
		<div class="col-lg-3 sidebar">
			{{ column_left }}    
		</div>

		<section class="col-12 col-lg-9 content-section">
			<div class="bread">
				{% for breadcrumb in breadcrumbs %}
					<a href="{{ breadcrumb.href }}" class="bread-text bread-link">{{ breadcrumb.text }}</a>
					{% if(breadcrumb != breadcrumbs|last) %}
						<span class="bread-text bread-next">
							<span class="bread-next-line-before"></span>
							<span class="bread-next-line-after"></span>
						</span>
					{% endif %}
				{% endfor %}
			</div>
			
			<div class="shopping">
{#				<h1>{{ heading_title }}eee</h1>#}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="shopping-wrap">
						<table class="table-top table table-hover">
							<thead>
								<tr class="cart-titile-tr">
									<td class="text-left">{{ column_image }}</td>
									<td class="text-left">{{ column_name }}</td>
									<td class="text-right">{{ column_quantity }}</td>
									<td class="text-right">{{ column_total }}</td>
								</tr>
							</thead>
							<tbody>

								{% for product in products %}
									<tr>
										<td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> {% endif %}</td>
										<td class="table-align">{{ product.name }}</td>
										<td>
											<div class="input-group btn-block" style="max-width: 200px;">
												<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
												<span class="input-group-btn">
													<button type="submit" data-toggle="tooltip" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
													<button type="button" data-toggle="tooltip" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
												</span>
											</div>
										</td>
										<td class="table-price">{{ product.total }} Руб.</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
						<table class="table-bottom table">
							<tbody>
								{# <tr> #}
									<tr>
										<td class="table-bottom-bt">{{ text_sum }} {{ totals|last.text }} Руб.</td>
									</tr>
								{# </tr> #}
							</tbody>
						</table>
					</form>

					{{ checkout_check }}

					{{ content_bottom }}

				</div>

			</div>

		</section>
	</div>
</section>

{{ footer }} 