{{ header }}
<section class="container content">
  <div class="row">
    <div class="col-lg-3 sidebar">
      {{ column_left }}    
    </div>  
    
    <section class="col-12 col-lg-9 content-block">
      <div class="bread">
        {% for breadcrumb in breadcrumbs %}
          
          {% if(breadcrumb != breadcrumbs|last) %}
              <a href="{{ breadcrumb.href }}" class="bread-text bread-link">{{ breadcrumb.text }}</a>
              <span class="bread-text bread-next">
              <span class="bread-next-line-before"></span>
              <span class="bread-next-line-after"></span>
              </span>
          {% else %}
              <a href="{{ breadcrumb.href }}" class="bread-link">{{ breadcrumb.text }}</a>
            
          {% endif %}
        {% endfor %}
      </div>
      {% if products %}
       <div class="catalog1 row">
        {% for product in products %}
          <a href="{{ product.href }}" class="catalog-block col-5 col-lg-3" background-size: 90%;"> <!-- style="background: url() top no-repeat; -->
            <img style="width: 100%;" src="{{ product.thumb }}" alt="">
            <span class="catalog-block-name">{{ product.name }}</span>
            <span class="catalog-description">{{ product.description }}</span>
	          <span class="catalog-price">{{ product.price }}</span>
            <div class="catalog-product-link">
            </div>
          </a>
        {% endfor %}
        <hr>
      </div>
      
      {{ pagination }}
      {# </section>   #}
  {% endif %}
  {% if childrens %}
    <div class="catalog row">
      {% for children in childrens %}
          {#<p>{{ children.thumb }}</p>
          <p>{{ children.name }}</p>#}
        <a class="catalog-product col-12 col-md-5" style="background: url({{ children.thumb }}) top no-repeat; background-size: 90%;" href="{{ children.href }}">
          <span class="catalog-product-name">{{ children.name }}</span>
          <div class="catalog-product-link"></div>
        </a>
    {# </div> #}
      {% endfor %}
    </section>
  {% endif %}
  {% if not categories and not products %}
    <p>{{ text_empty }}</p>
  </section>
{% endif %}



{{ content_bottom }}</div>
{{ column_right }}</div>
</section>
{{ footer }} 
