{{ header }}

<section class="container content">
  <div class="row">
    <div class="col-lg-3 sidebar">
      <div class="sidebar-sticky-top sticky-top">
        {{ column_left }}
      </div>  
    </div>


    <section class="col-12 col-lg-9 content-block">
      <div class="bread">
        {% for breadcrumb in breadcrumbs %}
          
          {% if(breadcrumb != breadcrumbs|last) %}
              <a href="{{ breadcrumb.href }}" class="bread-text bread-link">{{ breadcrumb.text }}</a>
              <span class="bread-text bread-next">
              <span class="bread-next-line-before"></span>
              <span class="bread-next-line-after"></span>
              </span>
          {% else %}
              <a href="{{ breadcrumb.href }}" class="bread-text-last">{{ breadcrumb.text }}</a>
            
          {% endif %}
        {% endfor %}
      </div>

    <div class="product" id="product">
      <div class="product-wrap row">
        <div class="product-wrap1 col-12 col-lg-7 col-xl-7">
          <div class="product-img">
            <a class="gallery" data-fancybox="gallery" href="{{ thumb }}"><img src="{{ thumb }}" alt="" class="product-img-active"></a>
            {% if images %}
              <div class="product-img-wrap">
               <img src="{{ thumb }}" alt="" class="product-img-disable">
               {% for image in images %}
                <a style="display: none;" data-fancybox="gallery" href="{{ image.popup }}"></a>
                <img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" class="product-img-disable" />
              {% endfor %}
            </div>
          {% endif %}
        </div>

      </div>
      <div class="product-info col-12 col-lg-5 col-xl-5 pt-5 pt-xl-0">
        <p class="product-text article-text">Актикул товара: {{ sku }}</p>
        <p class="product-title">{{ heading_title }}</p>
        <p class="product-text">Производитель {{ manufacturer }}</p>
        <p class="product-text">{{ text_model }} {{ model}}</p>
        <span class="product-ticket">{{ text_price }}Цена:</span>
        <span class="product-price">{{ price }}</span><br>
        <span class="product-ticket">{{ text_price }}Остаток:</span>
        <span class="product-price">{{ total_weight }}</span><br>
        <div class="product-val-wrap">
          <span class="product-val">{{ text_count }}Количество:</span>
          <div class="product-calc">
            <span class="product-calc-btn calc-minus">-</span>
            <input type="text" name="quantity" class="product-calc-number" value="{{ minimum }}">
            <span class="product-calc-btn calc-plus">+</span>
          </div>
        </div>
        <input type="hidden" name="product_id" value="{{ product_id }}" />
        <div class="product-btn-wrap">
          <div class="product-add" id="button-cart"  >{{ text_add }} 
           {# <svg viewBox="0 -16 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="m396 440c5.519531 0 10-4.480469 10-10s-4.480469-10-10-10-10 4.480469-10 10 4.480469 10 10 10zm0 0"/>
                <path d="m230 440c5.519531 0 10-4.480469 10-10s-4.480469-10-10-10-10 4.480469-10 10 4.480469 10 10 10zm0 0"/>
                <path d="m509.882812 123.847656c-1.894531-2.429687-4.804687-3.847656-7.882812-3.847656h-360.003906l-22.792969-96.875c-3.210937-13.617188-15.222656-23.125-29.203125-23.125h-60c-16.542969 0-30 13.457031-30 30s13.457031 30 30 30h36.238281l74.558594 316.875c3.210937 13.617188 15.222656 23.125 29.203125 23.125h20.027344c-6.292969 8.363281-10.027344 18.753906-10.027344 30 0 27.570312 22.429688 50 50 50s50-22.429688 50-50c0-11.246094-3.734375-21.636719-10.027344-30h86.054688c-6.292969 8.363281-10.027344 18.753906-10.027344 30 0 27.570312 22.429688 50 50 50s50-22.429688 50-50c0-11.246094-3.734375-21.636719-10.027344-30h.027344c16.542969 0 30-13.457031 30-30s-13.457031-30-30-30h-242.238281l-9.414063-40h58.621094.019531.015625 145.992188.019531.019531 57.347656c13.785157 0 25.757813-9.34375 29.109376-22.726562l36.210937-144.847657c.746094-2.988281.074219-6.152343-1.820313-8.578125zm-35.691406 76.152344h-63.863281l7.5-60h71.363281zm-118.191406 20h31.671875l-7.5 60h-54.171875v-30c0-5.523438-4.476562-10-10-10s-10 4.476562-10 10v30h-54.171875l-7.5-60h31.671875c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-34.171875l-7.5-60h71.671875v30c0 5.523438 4.476562 10 10 10s10-4.476562 10-10v-30h71.671875l-7.5 60h-34.171875c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10zm-176.359375 60-14.117187-60h58.648437l7.5 60zm34.53125-140 7.5 60h-60.855469l-14.113281-60zm45.828125 290c0 16.542969-13.457031 30-30 30s-30-13.457031-30-30 13.457031-30 30-30 30 13.457031 30 30zm166 0c0 16.542969-13.457031 30-30 30s-30-13.457031-30-30 13.457031-30 30-30 30 13.457031 30 30zm10-70c5.515625 0 10 4.484375 10 10s-4.484375 10-10 10h-266c-4.660156 0-8.664062-3.171875-9.734375-7.710938l-78.1875-332.289062h-52.078125c-5.515625 0-10-4.484375-10-10s4.484375-10 10-10h60c4.660156 0 8.664062 3.171875 9.734375 7.710938l62.1875 264.292968c.003906.015625.007813.03125.011719.050782l15.988281 67.945312zm20.089844-87.582031c-1.117188 4.464843-5.109375 7.582031-9.710938 7.582031h-46.050781l7.5-60h61.367187zm0 0"/>
                <path d="m316 200c-5.519531 0-10 4.480469-10 10s4.480469 10 10 10 10-4.480469 10-10-4.480469-10-10-10zm0 0"/>
            </svg>#}
          </div>
          <!-- <a href="" class="product-add">{{ text_get_price }}</a> -->
        </div>
      </div>
      <div class="product-description col-12">
        <span class="product-description-title">Описание</span>
        <div class="product-description-text">{{ description }}</div>
      </div>
    </div>
  </section>

</div>

</section>


<script type="text/javascript">
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        console.log(json['error']);
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          console.log(json['error']['recurring']);
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        console.log(json['success']);
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        
        $('#cart').load('index.php?route=common/cart/info');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
</script> 
{{ footer }} 
