{{ header }}

<section class="container content">

  <div class="row content-block content-width">
    <div class="col-3 sidebar">
      <div class="sidebar-sticky-top sticky-top">
        {{ column_left }} 
      </div>      
    </div>  
    
    <section class="col-9 content-section">
      <div class="bread">
        {% for breadcrumb in breadcrumbs %}
          
          {% if(breadcrumb != breadcrumbs|last) %}
              <a href="{{ breadcrumb.href }}" class="bread-text bread-link">{{ breadcrumb.text }}</a>
              <span class="bread-text bread-next">
              <span class="bread-next-line-before"></span>
              <span class="bread-next-line-after"></span>
              </span>
          {% else %}
              <a href="{{ breadcrumb.href }}" class="bread-text-last">{{ breadcrumb.text }}</a>
            
          {% endif %}
        {% endfor %}
      </div>
      <div class="search">
        {{ search_block }}
        <div class="search-result">
          <div>
            <span class="serch-col-recult">{{ product_total }}  результатов найдено для "{{ search }}"</span>
          </div>
          <div>
            <span class="search-result-text">Резальтаты поиска для:</span>
            <span class="search-result-text">{{ search }}</span>
          </div>
        </div>
        <div class="search-block">
          {% if products %}
            <ol start="{{ start }}">
              {% for product in products %}
                <li>
                  <a href="{{ product.href }}" class="search-title">{{ product.name }}</a>
                  <p class="search-text">{{ product.description }}</p>
                </li>
              {% endfor %}
            </ol>
            {{ pagination }}
          {% else %}
            <p></p>
          {% endif %}
        </div>
      </div>
    </section>

  </div>

</section>


    <script>
      $(document).ready(function () {
        $(".search-input").keyup(function(event){
            if(event.keyCode == 13){
                $(this).parent('#search').children('.search-btn-span').children(".search-btn").click();
                $('.search-input').val('');
            }
        });
          $('.search-input').val('');
      });
    </script>
{{ footer }}
